<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Moosify</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons.ico/apple-icon-72x72.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicons.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="libs/vivify.min.css" type="text/css" />

    <link rel="stylesheet" href="../static/libs/vivify.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="c mainContainer">
        <div class="wrapper">
            <!-- <img id="logo" src="assets/Moosify_Logo.svg"> -->
            <img id="logo" src="../static/assets/Moosify_Logo.svg">
            <span class="vivify hitLeft delay-500" id="wavingHand">👋</span>
            <h6>You can use Moosify to get the perfect song based on how you feel!</h6>  <!--fadeIn/spinIn-->
            <button onClick="window.location.href = '/auth/redirect'" class="btn primary vivify pullUp delay-2000" startButton">Get started!</button>
        </div>
    </div>
</body>

</html>