<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Moosify</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- favicons -->
    <link rel="shortcut icon" href="assets/favicons/apple-icon-72x72.png">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="libs/vivify.min.css" type="text/css" />

    <link rel="stylesheet" href="../static/libs/vivify.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="c mainContainer">
        <div class="wrapper">
            <img id="logo" src="assets/Moosify_Logo.svg">
            <span class="vivify hitLeft delay-500" id="wavingHand">👋</span>
            <h6 class="centered">You can use Moosify to get the perfect song based on how you feel!</h6>  <!--fadeIn/spinIn-->
            <button onClick="window.location.href = '/auth/redirect'" class="btn primary vivify pullUp delay-1000 startButton">Get started!</button>
        </div>
    </div>
</body>

</html>