<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons.ico/apple-icon-72x72.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicons.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style href="style.css"></style>
    <script src="libs/cookies.class.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="libs/vivify.min.css" type="text/css"/>
</head>
<body>

    <head>
        <div id="heading">
            <h1>Moosify</h1>
        </div>
        <div id="heading-label">
            <h6>👋 Discover your mood.</h6>
        </div>
    </head>
        
    <main>
        <section>
            <input id="inputstring" class="card w-100" type="text" placeholder="happy, cheerful, excited, ...">
            <button class="vivify driveInLeft" id="getTracks">Get your Tracks!</button>
        </section>
        <section>
            <div id="tracks"></div>
        </section>
    </main>

    <footer>
        @ Moosify
    </footer>

</body>
</html>