<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moosify</title>

    <link rel="shortcut icon" href="assets/favicons/favicon.ico"> 

    <script src="libs/cookies.class.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@latest/dist/lit.css" />
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="mood.css">
    <link rel="stylesheet" href="libs/vivify.min.css" type="text/css" />

    <link rel="stylesheet" href="../static/libs/vivify.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/mood.css">
    <script src="../static/script.js"></script>
</head>

<body>

    <div class="c">
        <div class="row">
            <img id="logo" src="assets/Moosify_Logo.svg">
        </div>
        <div class="row">
            <div class="col">
                <h5>Select songs you like. They will be added to your Spotify queue.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="card w-100" id="inputString" type="text" placeholder="Tell me how you feel!">
            </div>
        </div>
        <div class="row">
            <div class="col button-container">
                <button class="btn primary vivify popInRight delay-500" id="getTracks">Get your Tracks!</button>
                <button class="btn primary " id="selectTracks">Add to Library!</button>
            </div>
        </div>
        <div class="row" id="track-container">
        </div>
    </div>

    <div class="row" id="footer">
        <div class="col text">
            🎵 This service is powered by Moosify.
        </div>
    </div>

</body>

</html>