
/**  Mood Page      **/

    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainContent{
        display: flex;
        flex-direction: column;
    }

    .inputNgo{
        display: flex;
        flex-grow: 2;
    }

    #inputString{
        flex-basis: 1000px;
    }

    #getTracks{
        display: inline-block;
        font-size: 12px;
        font-weight: 1000;
        flex-basis: 100px;
    }

    #selectTracks{
        display: inline-block;
        font-size: 12px;
        font-weight: 1000;
    }
    .track-container{
        flex-grow: 1;
    }

    #tracks{
        display: flex;
        flex-flow: row wrap;
    }

/**/