
/**  Mood Page      **/

    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainContent{
        display: flex;
        flex-direction: column;
    }

    #inputString{
        flex-shrink: 4;
    }

    #getTracks{
        display: inline-block;
        font-size: 12px;
        font-weight: 1000;
        flex-shrink: 1;
    }

    #selectTracks{
        display: inline-block;
        font-size: 12px;
        font-weight: 1000;
    }

    #tracks{
        display: flex;
        flex-flow: row wrap;
    }

/**/