
/**  Mood Page      **/
body{
    margin: 0;
    background:/*  rgb(255, 135, 182, 0.5);*/ /*rgb(142, 182, 255, 0.5);*/0;
}
#logo{
    width: 70%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (min-width: 900px) {
    #logo {
        width: 55%;
    }
}

h5{
    text-align: center;
    font-weight: bold;
}
#getTracks{
    font-size: 100%;
    font-weight: 600;
}

#selectTracks{
    font-size: 100%;
    font-weight: 600;
}
input{
    box-sizing: border-box;
}
.button-container{
    display: flex;
    justify-content: center;
}
.track-container {
    margin-top: 3%;
}

button {
    font-size: 80% !important;
    margin-top: 3% !important;
    border-radius: 4px !important;
    background-color: rgb(255, 135, 182) !important;
    border: 0 !important;
}

.song {
    width: 80%;
    margin: 5% 10%;
}

@media (min-width: 900px) {
    .song {
        width: 70%;
        margin: 5% 15%;
    }
}

#footer {
    text-align: center;
    padding: 5% !important;
    background-color: rgb(138, 171, 255);
}

footer h5 {
    font-size: 90% !important;
}

.card {
    transition: box-shadow .3s !important;
}

.card:hover {
    box-shadow: -5px 5px 11px rgba(33,33,33,.2) !important; 
}