
    body{
        margin: 0;
        background:/*  rgb(255, 135, 182, 0.5);*/ /*rgb(142, 182, 255, 0.5);*/0;
    }
    #logo{
        width: 25%;
        margin-top: 2%;
    }
    
    .centered{
        text-align: center;
    }
    .centered h1{
        margin-bottom: 0;
    }

    .inputNgo{
        column-gap: 100%;
        margin-top: -2%;
    }

    #getTracks{
        font-size: 14px;
        font-weight: 600;
        margin-left: -30%;
    }

    #selectTracks{
        font-size: 14px;
        font-weight: 600;
        margin-left: -30%;
    }

    #inputString{
        margin-bottom: 10%;
    }


    #tracks {
        width: 100vh;
        height: 89vw;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgb(142, 182, 255, 0.5);
        margin-left: 5%;
        padding: 1% 0 0 0;
        -webkit-transform-origin: top right;
                transform-origin: top right;
        -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
                transform: rotate(-90deg) translate3d(0, -100vh, 0);
    }
    #tracks > * {
        -webkit-transform-origin: left top;
                transform-origin: left top;
        -webkit-transform: rotate(90deg) translate3d(0, calc(-100vh + 60px), 0);
                transform: rotate(90deg) translate3d(0, calc(-100vh + 60px), 0);
    }

    .songItems {
    width: 300px;
    height: 300px;
    margin-top: 5%;
    margin-bottom: 5%;
    background: #FDFFFC;
    position: relative;
    }
    .songItems:first-child{
        margin-top: 3%;
    }
    .songItems:last-child{
        margin-bottom: 5%;
    }
    .songItems:hover{
        -webkit-box-shadow: 2px 2px 15px 5px #000000; 
        box-shadow: 2px 2px 15px 5px #000000;
    }

    .item img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: no-repeat center center / cover;
        opacity: .8;
        background-blend-mode: luminosity;
    }

    @keyframes trackAdded {
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
/**/